<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.paires.cleanride">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cleanride"
        android:extractNativeLibs="false"
        android:usesCleartextTraffic="true"
        tools:targetApi="31"> <activity
        android:name=".auth.LoginActivity"
        android:exported="true"
        android:label="CleanRide Login">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false"
            android:label="Create Account" />

        <activity
            android:name=".booking.MainActivity"
            android:exported="false"
            android:label="Dashboard" />

        <activity
            android:name=".booking.WizardActivity"
            android:exported="false"
            android:label="Book a Slot" />

        <activity
            android:name=".booking.MyBookingsActivity"
            android:exported="false"
            android:label="My Garage" />

        <activity
            android:name=".booking.MyReviewsActivity"
            android:exported="false"
            android:label="My Reviews" />

        <activity
            android:name=".booking.ProfileActivity"
            android:exported="false"
            android:label="Profile" />

    </application>
</manifest>